@charset "UTF-8";

/* font imported */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*
object-fit: cover; 대체 콘텐츠의 가로세로비를 유지하면서, 요소 콘텐츠 박스를 가득 채웁니다. 서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나갑니다.
overflow - CSS 단축 속성은 요소의 콘텐츠가 너무 커서 요소의 블록 서식 맥락에 맞출 수 없을 때의 처리법을 지정합니다.
overflow: hidden; 콘텐츠를 안쪽 여백 상자에 맞추기 위해 잘라냅니다.
height 대신 padding-bottom을 쓰면 이 값은 부모 요소의 width값을 기준으로 계산되므로 창의 크기를 바꿔도 width와 항상 동일한 길이로 변화한다.
  */

/* * {
	border: green solid 1px;
} */

html, body {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}

body {
	display: flex;
}

#leftDiv {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
}

#rightDiv {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 100%;
}

#nickname {
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
}

#profile {
	background-color: #EEEEEE;
	text-align: center;
}

#alignCenter {
	display: inline-block;
	width: 50%;
    border-radius:50%;
    overflow: hidden;
}

#imgProfile {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

#btnProfile {
	display: flex;
	justify-content: space-around;
	background-color: rgba( 0, 0, 0, 0 );
}

#btnProfile > button {
	font-size: 20px;
	margin: 1%;
}

#modify {
	background-color: #494949;
	color: white;
}

#fixedLength {
	background-color: rgba( 15, 4, 76, 1 );
	flex-grow: 1;
	overflow: auto;
}

/* 스크롤바 디자인 */
#fixedLength::-webkit-scrollbar {
	width: 20px;
}
#fixedLength::-webkit-scrollbar-thumb {
	background-color: #78c7c7;
}
#fixedLength::-webkit-scrollbar-track {
	background-color: #D8E3E7;
}

.container {
	width: 100%;
	padding: 0px;
}

.container a, p {
	font-family: 'Nanum Gothic', sans-serif;
}

.panel-heading {
	background-color: rgba( 0, 0, 0, 0 );
	color: white;
}
.panel-body {
	background-color: rgba( 20, 30, 97, 1 );
	color: white;
}

.btn-group {
	margin: 3%;
}

#searchForm {
	background-color: #787A91;
}

input[name="search"] {
	display: inline-block;
	width: 75%;
	margin: 3%;
}

#submit {
	padding-left: 5%;
	padding-right: 5%;
	display: inline-block;
}

.fontSize18 {
	font-size: 20px!important;
}