@charset "UTF-8";

#title1 {
	text-align: center;
	color: white;
}

#title2 {
	text-align: center;
}

#settingImgBox {
	display: flex;
	background-color: #3B185F;
	width: 100%;
	height: 34%;
	align-items: center;
}

#imgBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	height: 100%;
}

#square {
	margin-right: 10%;
	display: block;
	width: 250px;
	height: 250px;
	border-radius:50%;
    overflow: hidden;
}

#imgPreview {
	display: block;
	width: 100%;
    height: 100%;
    object-fit: cover;
}

#inputImg {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	height: 100%;
}

#settingInfoBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 66%;
}

#srcImg {
	width: 95%;
}

#inputImg > div {
	display: flex;
	width: 40%;
}

#deleteImg {
	flex-grow: 1;
}

#rightDiv input, #rightDiv button {
	font-size: 18px!important;
	margin: 10px;
}

#settingInfoTextBox {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50%;
	align-items: center;
}

#settingInfoForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

#settingInfoTextBox>div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	height: 85%;
}

#idAndPw {
	align-items: flex-end;
}
#otherInfo {
	align-items: flex-start;
}

#idAndPw > input, #otherInfo > input {
	width: 40%;
	margin: 5px;
}

#settingInfoBtnBox {
	display: flex;
	width: 42%;
	height: 20%;
	justify-content: center;
	align-items: flex-start;
}

#settingInfoBtnBox button {
	flex-grow: 1;
}

#subtitle {
	width: 41%;
	text-align: center;
}